.friend-toggle {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.friend-toggle .icon {
  color: #666;
  width: 100%;
  height: 100%;
}

.friend-toggle .icon:hover {
  color: #1a1a1a;
}