@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Charis SIL", serif;
  font-weight: 700;
  color: #1a1a1a;
}

h3,
p {
  font-family: "Inter", sans-serif;
}

.app {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}

.main-content {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  ;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}